.navbar-fixed-top .logo{
     height: 37px !important;
     margin-top: -8px !important;
}
@media screen and (min-width: 767px) {

 .logo{
     height: 62px;
     margin-top: -28px;
}
}
@media screen and (max-width: 768px) {
  .logo {
      height: 50px;
      margin-top: -14px;
  }
}
